/*leftmenu*/

.mainMenu i {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 28px;
}
.mainMenu span {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.mainMenu:hover,
nav.mainMenu.expanded {
    width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mainMenu {
    background: #ffffff;
    border-right: 1px solid #e5e5e5;
    margin: 0px 0px 0px 0px;
    margin-top: 7.5%;
    position: fixed;
    height: 100%;
    left: 0;
    width: 90px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
    padding-bottom: 20%;

}
.mainMenu::-webkit-scrollbar {
    display: none;

  }

.profileicontab{
    width: 200px;
    margin-top: 0px;
    margin-left: 0px;
}

.profileicontab a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;

    text-decoration: none;
}
.profileicontab a:hover{
    color: black;
}
.profileicontab a span{
    margin-left: 20px;
 

}

.profileicon {
    margin: 15px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #faf6fc;
}





.mainMenu>ul {
    margin: 7px 20px 7px 15px;
    overflow-x: hidden;
}

.mainMenu li {
    position: relative;
    display: block;
    width: 250px;
    margin-top: 10px;
}

.mainMenu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 17px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.mainMenu .navText {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
    
}

.mainMenu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.mainMenu li:hover>a,
nav.mainMenu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {

    color: #8200c6;
}
.mobilesidenavbuttonouter{
    height: 100%;
    width: 100%;
}

.mobilesidenavbtn button{

    font-size: 0.9em;
    position: fixed;
    width: 100px;
    z-index: 500;
    --bs-btn-color: #fff;
    --bs-btn-bg: #8300c6;
    --bs-btn-border-color: #8300c6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a34dce;
    --bs-btn-hover-border-color: #a34dce;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8600c9;
    --bs-btn-active-border-color: #8600c9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}
.mobilesidenavbtn button:focus{
    background-color: #8600c9;
    border-color: #8600c9;
}

.mobilesidebarmain{
    height: 100%;
    width: 100%;
    position: relative;
}

.mobilesidenavouter button{
    bottom: 50%;
    left: -35px;
    z-index: 2000;
    rotate: 90deg;
    position: fixed;
}


    @media (min-width: 320px) {
    
        .mainMenu{
            width: 250px;
            margin-top: 80px;
        }


    }
    
    @media (min-width: 576px) {
      
    }
    
    @media (min-width: 992px) {
        .mainMenu{
            width: 90px;
            margin-top: 7.5%;
        }

       
    }
    
    @media (min-width: 1200px) {
      
    }
    
    @media (min-width: 1400px) {
    
    }
    
    
    