.secondlowerdiv{
    min-width: 20vw;
    height: 100%;
}
.secondlowerouter{
    height: 100%;
    width: 100%;
}
.secondlowerinner{
    height: 100%;
    width: 100%;
}
.profilewrapper{
    border: 1px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
    position: relative;
    height: 100%;
    min-height: 330px;
    margin-left: 5%;
    width: 90%;
}
.profilebackground {

    background-image: url('../../../../assets/profilesmokebackground.png') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: absolute;

    background-image: url();
    width: 100.5%;
    border-radius: 25px 25px 0px 0px;
    height: 50px;
    z-index: 0;

}
.profileouterdiv {
    top: 6%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5%;
    border-bottom: 1px solid #f2f2f2;
}
.secondlowerprofileicon {
    width: 40%;
    border-bottom: 0;
    padding: 0% 5% 5% 5%;
}
.secondlowerprofileicon img{
    width: 75%;
}

.profileinfo {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 9% 0% 0% 0%;

}

.profileinfo h5 {
    font-size: 17px;
    font-weight: 550;
    margin: 0;
}

.profileinfo p {
    font-size: 11px;
    font-weight: 550;
    color: #8300c4;
    margin-bottom: 12px;
}

.progressLabel{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progressLabel label{
font-size: 11px;

}




.profileschedulemain{
    margin-top:45% ;

    width: 100%;
}

.profilescheduleinner{
    display: flex;
    flex-direction: row;
    width: 100%;
}



.profileinfo progress { 
    accent-color: #8300c6;
    width: 90%;
    height: 7px;
    }

.profilescheduleinnerUl1{
    width: 50%;
    padding-left:15px;
    list-style: none;
}
.profilescheduleinnerUl2{
    width: 50%;
    padding-left:15px;
    list-style: none;
}

.profilescheduleinner ul li a {
    text-decoration: none;
    color: black;
}

.profilescheduleinner ul li {
    padding-top: 2.5%;
    margin-right: 10%;
    padding-bottom: 2.5%;
    border-bottom: 1px solid #f2f2f2;
}
.profilescheduleinner ul li:last-child{
    border: none;
}

.profileschedulemenu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.profileschedulemenushift{
    display: flex;
    justify-content: flex-start;
}
.profileschedulemenuevening{
    display: flex;
    justify-content: flex-start;
}


.profileschedulemenuevening {
    color: #a2a2a2;
    font-size: 12px;
}

.profileschedulemenuicon {
    color: #8300c4;
    font-size: 20px;
    margin-right: 3%;
}



/* Notice Board Starts*/

.mergeheadings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

.mergeheadings h5 {
    font-size: 20px;

}

.mergeheadings img {
    width: 80px;
    margin: 0% 0% 4% 0.5%;
}

.Noticesboard {
    min-width: 100%;
    border-radius: 24px;
    min-height: 208px;
    position: relative;

}

.Noticesboardinner {
    padding: 0% 0% 0% 0%;
    margin-left: -1.5%;
    margin-right: 10%;
    width: 100%;
    position: absolute;
    height: 100%;

}

.noticeboardwrapper {
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    padding: 2%;
    background-color: white;
    width: 100%;
    height: 100%;
    min-height: 330px;
    text-overflow: ellipsis;
}


.notificationbarouter {
    height: 100%;
    width: 100%;
    position: absolute;
}

.notificationbarinner {
    width: 95%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.innerbars {
    display: flex;
    height: 100%;
    width: 100%;
}

.notificationbar {
    display: flex;
    width: 390px;
    height: 210px;
    background-color: #faf6fc;
    padding: 2% 1% 0% 1%;
    border-radius: 24px;
}

.notificationBarprofile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
}

.notificationBarmessage h5 {
    font-size: 16px;
    font-weight: bold;
}

.notificationBarmessage {
    margin-top: 15px;
    width: 80%;
}

.notificationBarmessage p{
    font-size: 12px;
    height: 65%;
    overflow: hidden;
    color: #a2a2a2;
}



@media (min-width: 320px) {
 
    /*Upper First Container*/

.secondlowerinner{
    margin-left: 10%;
}
    /*Upper Second Container*/

.Noticesboardinner{
    margin-left: 18%;
    margin-top: 20px;
    margin-right: 10%;
    width: 83%;
}
.notificationBarmessage{
    margin-top: 5px;
}
.notificationbarouter{
    height: 70%;
}
.noticeboardwrapper{
    min-height: 0px;
}

.notificationbar{
    width: 100%;
    height: 100%;
    min-height: 0px;
}
/*Lower First Container*/
.Employeeinner{
    margin-left:15%;
}

.timetrackinginner{

    margin-top: 20px;
  
    margin-left: 12.5%;
}

.EmployeDataOuter{
    margin-top: 45px;
}

}

@media (min-width: 576px) {
    /*Upper First Container*/

.secondlowerinner{
    margin-left: 3%;
}
    /*Upper Second Container*/

.Noticesboardinner{
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 10%;
    width: 86%;
}
.notificationBarmessage{
    margin-top: 5px;
}
.notificationbarouter{
    height: 70%;
}
.noticeboardwrapper{
    min-height: 0px;
}

.notificationbar{
    width: 100%;
    height: 100%;
    min-height: 0px;
}
/*Lower First Container*/
.Employeeinner{
    margin-left:15%;
}

.timetrackinginner{

    margin-top: 20px;
  
    margin-left: 12.5%;
}

.EmployeDataOuter{
    margin-top: 45px;
}
   
    
}

@media (min-width: 992px) {
    .secondlowerinner{
        margin-left: 10%;
    }
    .profilewrapper{
        width: 100%;
    }
        /*Upper Second Container*/
    
    .Noticesboard{
        height: 100%;
    }
    .Noticesboardinner{
        margin-left: 10%;
        margin-top: 0px;
        margin-right: 10%;
        width: 86%;
    }
    .notificationBarmessage{
        margin-top: 5px;
    }
    .notificationbarouter{
        height: 70%;
    }
    .noticeboardwrapper{
        min-height: 0px;
    }
    
    .notificationbar{
        width: 100%;
        height: 100%;
        min-height: 0px;
    }
    /*Lower First Container*/
    .Employeeinner{
        margin-left:15%;
    }
    
    .timetrackinginner{
    
        margin-top: 20px;
      
        margin-left: 12.5%;
    }
    
    .EmployeDataOuter{
        margin-top: 45px;
    }
   
}

@media (min-width: 1200px) {
    .secondlowerinner{
        margin-left: 1%;
    }
    .Noticesboardinner{
        margin-left: 6%;
        margin-top: 0px;
        margin-right: 10%;
        width: 92%;
    }
  
}

@media (min-width: 1400px) {

}




