    
.thirdupperdiv {
    min-width: 20vw;
    height: 100%;


}

.Mytickets {
    height: 100%;
    width: 100%;

}

.myticketsinner {
    padding: 0% 2% 0% 3%;
    height: 100%;
    width: 100%;

}


.ticketwrapper2 {
    padding: 5% 5% 2% 5%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f2f2f2;
    border-radius: 24px;
    width: 95%;

    margin: 0px 0px 0px 20px;
    height: 100%;
}

.mergeheadinginner {
    display: flex;
    justify-content: space-between;
}

.ticketlisting {
    overflow-y: scroll;
    height: 250px;
}



.ticketlisting ul {
    list-style: none;
    padding-left: 0px;
}

.ticketlisting ul a {
    color: #a1a1a1;
    text-decoration: none;

}

.ticketlisting ul a li {

    padding: 3% 0% 3% 0%;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;

}


.ticketlisting ul a li:hover {
    background-color: #8300c7;
    color: white;
    border-radius: 25px;
    padding-left: 8%;
}


@media (min-width: 320px) {
    .ticketwrapper2 {
        width: 84%;
        margin-left: 10%;
        margin-top: 0px;
    }

    .ticketwrapper2 h5 {
        margin-bottom: 0;

    }

    .myticketsinner {
        padding-bottom: 4%;
    }

}

@media (min-width: 576px) {
    .ticketwrapper2 {
        width: 82%;
        margin-left: 5%;

    }

}

@media (min-width: 768px) {}

@media (min-width: 991px) {
    .ticketwrapper2 {
        width: 95%;
        margin-left: 18%;
        margin-top: 0px;
    }

    .ticketwrapper2 h5 {
        margin-bottom: 0;

    }

    .myticketsinner {
        padding-bottom: 0%;
    }
}

@media (min-width: 1200px) {

    .ticketwrapper2 {
        width: 95%;
        margin-left: 2px;
        margin-top: 0px;
    }
    .ticketlisting {
        overflow-y: hidden;
        height: 300px;
    }
}

@media (min-width: 1400px) {}