/* Notice Board Starts*/

.mergeheadings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mergeheadings h5 {
    font-size: 20px;

}

.mergeheadings img {
    width: 80px;
    margin: 0% 0% 15px 0.5%;
}

.Noticesboard {
    min-width: 100%;
    border-radius: 24px;
    min-height: 170px;
    position: relative;

}

.Noticesboardinner {
    padding: 0% 0% 0% 0%;
    margin-left: -1.5%;
    margin-right: 10%;
    width: 100%;
    position: absolute;
    height: 100%;

}

.noticeboardwrapper {
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    padding: 2%;
    background-color: white;
    width: 100%;
    height: 100%;

    text-overflow: ellipsis;
}

.notificationbarouter {
    height: 100%;
    width: 100%;
    position: absolute;
}

.notificationbarinner {
    width: 95%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.innerbars {
    display: flex;
    height: 100%;
    width: 100%;
}

.innerbars button {
    text-align: left;
    border: none;
    display: flex;
    width: 240px;
    height: 100px;
    background-color: #faf6fc;
    padding: 2% 1% 0% 1%;
    border-radius: 24px;


}



.notificationBarprofile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
}

.notificationBarmessage h5 {
    font-size: 16px;
    font-weight: 500;
}

.notificationBarmessage {
    margin-top: 10px;
    width: 80%;
}

.notificationBarmessage p {
    font-size: 12px;
    height: 50%;
    overflow: hidden;
    color: #a2a2a2;
    text-overflow: ellipsis;
}

.notificationBarmessage p label {
    color: black;
    font-weight: 500;
}

/*Modal*/

.noticemodal {
    position: 'absolute';
    top: 120px;
    left: 30%;
    right: 70%;
    bottom: 40px;
    border: 1px solid #ccc;
    max-width: 561px;
    max-height: 425px;
    background: #fff;
    border-radius: 35px;
    outline: none;
    padding: 0px;

}



.notificationModal1 {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../../../../assets/notificationModal.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;

}

.notificationModal1Button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    background-color: #8300c8;
    border-radius: 50%;
}

.notificationModal1Button button {
    border-radius: 50%;
    border: none;
    color: white;
    background-color: #8300c8;
}

.notificationModal1Image {
    margin-bottom: 10px;
}

.notificationModal1Heading {
    color: #8300c8;
    font-weight: 500;
    margin-bottom: 10px;
}

.notificationModal1Footer {

    margin-bottom: 10px;
}

.notificationModal1Footer p {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 13px;
}

.notificationModal1Body {
    margin-bottom: 10px;
    height: 160px;
    font-size: 14px;
    overflow-y: auto;
}


.notificationModal1Body textarea {
    width: 300px;
    border: none;
    border-radius: 10px;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
    background-color: rgba(225,225,225, 0.436);
    color: rgb(0, 0, 0);
    outline: none;
    
}


/*Notificationbarmessage ends*/

@media (min-width: 320px) {
    .Noticesboardinner {
        height: 90%;
    }

    .noticeboardwrapper {
        width: 74%;
        margin-left: 17%;
        height: 170px;
        margin-top: 15px;
    }

    .notificationbarouter {
        width: 100%;
    }

    .notificationbarinner {
        width: 70%;
    }

    .notificationbar {
        width: 100%;
    }

    .notificationBarprofile {
        width: 15%;

    }

    .noticemodal {
        top: 120px;
        left: 15% !important;
        width: 75% !important;

    }

    .notificationModal1 {
        padding: 0px 20px 0px 20px;
    }

    .notificationModal1Image img {
        width: 70%;
    }

}

@media (min-width: 576px) {
    .noticeboardwrapper {
        width: 75%;
        margin-left: 11%;
        height: 170px;
        margin-top: 15px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 991px) {
    .Noticesboardinner {
        height: 90%;
    }

    .noticeboardwrapper {
        width: 88%;
        margin-left: 11%;
        height: 170px;
        margin-top: 0px;
    }

    .notificationbarouter {
        width: 100%;
    }

    .notificationbarinner {
        width: 80%;
    }

    .notificationbar {
        width: 100%;
    }

    .notificationBarprofile {
        width: 15%;

    }

    .notificationModal1Image img {
        width: 90%;
    }

    .noticemodal {

        left: 25% !important;
        width: 75% !important;

    }
}

@media (min-width: 1200px) {
    .noticeboardwrapper {
        width: 98%;
        margin-left: 8px;
        height: 170px;
        margin-top: 0px;
    }

    .notificationbarinner {
        width: 93%;
    }

    .notificationBarprofile {
        width: 20%;
    }

    .noticemodal {

        left: 30% !important;
        width: 80% !important;

    }
}

@media (min-width: 1400px) {}