.middlemenu {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 3%;

}

/*middle menu upper */
.upper {
    padding-top: 8%;
    height: 50%;
    width: 100%;

}

.upperinner {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3%;


}

.lowerinner {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 3%;
}



/*Second upper div*/

.secondupperdiv {
    padding-top: 1%;
    width: 100%;
    height: 100%;
}






/*Middle menu lower*/
.lower {
    height: 50%;
    width: 100%;
    padding-top: 2%;
    margin-bottom: 2%;
}

.lowerinner {

    height: 100%;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 1200px) {
    .upper {
        padding-top: 85px;
        height: 50%;
        width: 100%;
    }
    .profileInfoPadding{
        padding-left: 0;
    }
    .TimeTrackingPadding{
        padding-left: 2px;
    }
}
